<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.commands">
      <category
            id="codechecker.commands.category"
            name="CodeCheck Category">
      </category>
      <command
            categoryId="codechecker.commands.category"
            name="CodeCheck Command"
            id="codechecker.commands.CodeCheckCommand">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="jp.gr.java_conf.tsyki.codechecker.handlers.CodeCheckHandler"
            commandId="codechecker.commands.CodeCheckCommand">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="codechecker.commands.CodeCheckCommand"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M1+6">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.jdt.ui.PackageExplorer?after=additions">
         <menu
               id="codechecker.popup.menu"
               label="MyCodeChecker">
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:codechecker.popup.menu?after=additions">
         <command
               commandId="codechecker.commands.CodeCheckCommand"
               label="Execute Code Check"
               style="push">
         </command>
      </menuContribution>
   </extension>

</plugin>
